.title {
display: block;
width: 600px;
height: auto;
margin-left: auto;
margin-right: auto;
}
.button1 {
    font-family: 'Roboto Slab',serif;
    height: 60px;
    width: 200px;
    border: 1.2px solid white;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white

    
}
.form{
 margin: auto;
    width: 50%;
    padding: 10px;
    

}
input {
    border: 1.6px solid white;
    margin-left: 33%;
    background-color: black;
    color:white;
}
.button2{
      border: 2px solid white;
    background-color: black;
    color: white;

}
#demo{
    display: block;
    margin-left: 39%;
}
#levelcode{
    display: block;
    margin-left:44%
}


body{
    background-color: black;
}
header{ 
color: floralwhite;
}
form{
color: floralwhite;
}
p{ 
color:floralwhite;
}